
     
<a class="deconnexion" href="login">Déconnection</a>

<div class="" style="width: 100%;">
    <div class="card-body p-4">
    <div class="d-flex flex-start w-100">
        <div class="w-100">
        <div class="form-outline">
            <textarea class="form-control" id="textAreaExample" [ngModel]="newUserPostText" placeholder="Publier un post" (ngModelChange)="myText($event)" rows="4"></textarea>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button (click)="post()">poster</button>
        </div>
        </div>
    </div>
    </div>
</div>
    
<br>
<div class="jumbotron mt-4" *ngFor="let post of userPosts">
    <div class="container">
        <div class="card">
            <div class="card-head" style="background: #0d212bc4">
                <img src="https://www.france-esports.org/wp-content/uploads/2018/05/logo-franceesports-e1526287130417.png" alt="logo" width="50" height="50">
                <img class="card-logo" src="https://www.pinclipart.com/picdir/big/417-4170102_cedarbrook-k-8-center-pantera-para-logos-esports.png" alt="Shoe" class="product-img" width="400" height="250"> 
                <div class="product-detail" style="color: beige;">
                    <h1 class="display-4">{{post.title}}</h1> <p class="lead">{{post.description}}</p>
                </div>  
                
                <div class="yt">
                    <a href="#" target="_blank">
                    </a>
                </div>
            
                <div *ngFor="let comment of post?.comments">
                    <p>{{comment.description}}</p>
                </div>
            
                <!--<hr class="my-4">-->
                <div>
                    <textarea #comments [ngModel]="textareaFake" (change)="writeComment($event)" placeholder="publier un commentaire" [id]="post.id" rows="1"></textarea>
                </div>
                <div class="action-btn">
                    <button class="btn btn-primary btn-lg" role="button"  (click)="likePost(post)">Like {{post?.nbLike?.length}}</button>
                    <button class="btn btn-primary btn-lg" role="button" (click)="addPostComment(post.id)">comment</button>
                </div>
            </div>
        </div>
    </div>
</div>


    
  


